body{
    background-color: lightgreen;
    
}
header{
    background-color: forestgreen ;
     width:100%
    
    
}
#topic{
    color: aliceblue;
    text-align: center;
    font-family:Comic Sans MS ;
    font-size: 30px;
}

button{
    background-color: #034205; /* Green */
    border: none;
    color: white;
   padding: 15px 32px;
    text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   }